# This is a basic workflow to help you get started with Actions
name: .NET CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: true
      DOTNET_NOLOGO: 1
    name: DOTNET CI
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        
      - name: Install .NET 
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            # 5.0.x
            6.0.x
            7.0.x
            8.0.x
            9.0.x
            10.0.x

      - run: dotnet restore
      - run: dotnet build --configuration Release --no-restore
      - run: dotnet test --configuration Release --no-restore --verbosity normal
